// Sizes
$desktop-width: 1440px;
$mobile-width: 375px;

// Colors
$very-dark-gray: hsl(0, 0%, 17%);
$dark-gray: hsl(0, 0%, 59%);

// Font Sizes
$text-input-size: 18px;

// Font Weights
$smallest-weight: 400;
$medium-weight: 500;
$largest-weight: 700;

// Font Family
$Rubik: url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

// Search Bar Variables
$search-bar-height: 45px;
