@import "../../util/variables";

#details-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  height: 150px;
  width: 62%;
  margin: auto;
  border-radius: 20px;
  margin-top: -75px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 999;

  .details__info {
    height: 60%;
    width: 100%;
    padding-left: 4%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    border-right: 1px solid rgba(128, 128, 128, 0.479);

    &:nth-child(4) {
      border-right: none;
    }

    h5 {
      margin: 0;
      color: rgba(128, 128, 128, 0.55);

      font-weight: $largest-weight;
      letter-spacing: 1.5px;
    }
    h6 {
      margin: 0;

      font-weight: $largest-weight;
      font-size: 20px;
    }
  }
}
