@import "https://fonts.googleapis.com/css2?family=Rubik&display=swap";

.app {
  width: 1440px;
  margin: auto;
  position: relative;
}
#root {
  height: 100vh;
  display: flex;
  align-items: center;
  font-family: Rubik;
}
